# Created by .ignore support plugin (hsz.mobi)
将删除 .idea/.gitignore
将删除 .idea/.name
将删除 .idea/inspectionProfiles/
将删除 .idea/libraries/
将删除 .idea/misc.xml
将删除 .idea/ml-learn.iml
将删除 .idea/modules.xml
将删除 .idea/vcs.xml
/data/
将删除 deep/__pycache__/
将删除 deep/opencv/
将删除 deep/torch/__pycache__/
将删除 util/__pycache__/
/pyqt5/designer/.xdp_MainWindow.CI2HR0
将删除 nlp/__pycache__/
将删除 pyqt5/__pycache__/
将删除 pyqt5/designer/__pycache__/
将删除 basis/spider/data.json
将删除 datamining/__pycache__/
将删除 datamining/association_rules/__pycache__/
将删除 datamining/association_rules/consequence_rules_002.txt
将删除 datamining/association_rules/data_rule_002.txt
将删除 datamining/association_rules/graph_1-Collision.html
将删除 datamining/association_rules/graph_2-Collision.html
将删除 datamining/association_rules/graph_3-Collision.html
将删除 datamining/association_rules/graph_Collision.html
将删除 datamining/association_rules/graph_Ordinary.html
将删除 datamining/association_rules/graph_accident_consequence.html
将删除 datamining/association_rules/graph_accident_type.html
将删除 datamining/association_rules/graph_accident_type_0.html
将删除 datamining/association_rules/graph_accident_type_22.html
将删除 datamining/association_rules/graph_accident_type_33.html
将删除 datamining/association_rules/graph_scatter_accident_consequence.html
将删除 datamining/association_rules/graph_scatter_accident_type_0.html
将删除 datamining/association_rules/graph_type_0-Ordinary.html
将删除 datamining/association_rules/graph_type_1-Ordinary.html
将删除 datamining/association_rules/knuth_miles.png
将删除 datamining/association_rules/network/basic_scatter_chart.html
将删除 datamining/association_rules/network/graph_base.html
将删除 datamining/association_rules/network/graph_weibo.html
将删除 datamining/association_rules/network/graph_with_edge_options.html
将删除 datamining/association_rules/network/graph_with_options.html
将删除 datamining/association_rules/network/npm_dependencies.html.html
将删除 datamining/association_rules/network/render.html
将删除 datamining/association_rules/network/test.html
将删除 datamining/association_rules/network/weighted_graph.png
将删除 datamining/association_rules/result/
将删除 datamining/association_rules/scatter_chart_type_0.html
将删除 datamining/association_rules/scatter_chart_type_1.html
将删除 datamining/association_rules/type_rules_002.txt
将删除 deep/torch/~/
*.html
