# Created by .ignore support plugin (hsz.mobi)
将删除 .idea/.gitignore
将删除 .idea/.name
将删除 .idea/inspectionProfiles/
将删除 .idea/libraries/
将删除 .idea/misc.xml
将删除 .idea/ml-learn.iml
将删除 .idea/modules.xml
将删除 .idea/vcs.xml
/data/
将删除 deep/__pycache__/
将删除 deep/opencv/
将删除 deep/torch/__pycache__/
将删除 util/__pycache__/
/pyqt5/designer/.xdp_MainWindow.CI2HR0
将删除 nlp/__pycache__/
将删除 pyqt5/__pycache__/
将删除 pyqt5/designer/__pycache__/
