
# 数据目录
/data
*.json
*.html
*.xls
*.xlsx

# 图片
*.png
*.jpg
*.jpeg
*.ico

# 日志
*.log

*.txt
*.bin
*.pb
*.csv

# pytorch 模型
*.pt
*.pkl

/datamining/multilabel/rule_algo.py

/nlp/transformer/.ipynb_checkpoints/
/.idea
*.model
*.test
*.train
*.buffer
*/__pycache__/

/ml/xgboost/.ipynb_checkpoints
/nlp/bert4ner/runs
/nlp/bert4ner/wandb
/nlp/bert4ner/log
/nlp/bert4ner/.pytest_cache/
/nlp/bert4ner/output

/nlp/bertner/.pytest_cache/*
/nlp/bertner/log/*

/nlp/re/rbert/log
/nlp/re/rbert/output
/nlp/re/casrel/log/*
/nlp/re/casrel/cached_CASREL*

/nlp/match/bert/log/*
/nlp/match/bert/cached_*

*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
/*/.pytest_cache/*
*/*/.pytest_cache/*

/deep/tf/.ipynb_checkpoints
/deep/tf/logs
/deep/tf/*.tsv
/datamining/multilabel/extract_question_rule.py
/deep/tf/classification/logs/
/deep/tf/classification/save_model_dir/
